.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background-color: #fff;

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Mochiy Pop P one', sans-serif;
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #555555;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #fff;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #308efe;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}
.sidebar__footer {
    text-align: center;
    font-size: 14px;
    color: #555; /* You can adjust the color to your preference */
    background-color: #f5f5f5; /* Background color for the footer */
    border-top: 1px solid #ddd; /* Optional: Add a border at the top of the footer */
    padding: 10px;
    margin-top: 400px;
}
.project {
    text-align: center;
    display: flex; /* Use flexbox */
    align-items: center;
    font-size: 14px;
    color: #555; /* You can adjust the color to your preference */
    background-color: #f5f5f5; /* Background color for the footer */
    border-bottom: 1px solid #ddd; /* Optional: Add a border at the top of the footer */
    margin-bottom: 50px;
}
.project h3 {
    margin-right: 10px; /* Add some spacing between the icon and the text */
  }